---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
    const blogEntries = await getCollection("blog");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content, remarkPluginFrontmatter } = await entry.render();

const { title, pubDate } = entry.data;
---

<Layout title={`${title} | Hojayfa Rahman`}>
    <main class="p-4 lg:p-0">
        <div>
            <section class="border-b pb-6">
                <h1 class="text-xl font-bold sm:text-3xl">{title}</h1>
                <p class="flex space-x-2 mt-4">
                    <span>
                        {
                            pubDate.toLocaleDateString("en-GB", {
                                month: "short",
                                day: "2-digit",
                                year: "numeric",
                            })
                        }
                    </span>

                    <span>&#183;</span>

                    <span>{remarkPluginFrontmatter.minutesRead}</span>
                </p>
            </section>

            <article class="prose-sm sm:prose-base prose-img:rounded-md py-6">
                <Content />
            </article>
        </div>
    </main>
</Layout>
