---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const posts = await getCollection("blog");
---

<Layout title="Blog | Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl">
            <h1>
                sometimes i <strong class="text-xl font-bold">write</strong>
            </h1>
            <p class="py-6">
                sharing my excitement for cutting-edge technologies and personal
                experiences with them
            </p>
        </div>

        <ul>
            {
                posts.map(({ data: post, slug }) => (
                    <li class="py-3 w-fit">
                        <a href={`/blog/${slug}/`} class="group">
                            <h3 class="font-medium sm:text-lg group-hover:text-secondary">{post.title}</h3>
                            <p class="opacity-70 text-sm sm:text-base">
                                {post.pubDate.toLocaleDateString("en-GB", {
                                    month: "short",
                                    day: "2-digit",
                                    year: "numeric",
                                })}
                            </p>
                        </a>
                    </li>
                ))
            }
        </ul>
    </main>
</Layout>
