---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Blog | Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                sometimes i <span class="text-xl font-bold">write</span>
            </h1>
        </div>
    </main>
</Layout>
