@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-base-300;
    }

    body {
        @apply bg-base-100 text-base-content min-h-screen;
    }

    ::-webkit-scrollbar {
        @apply w-2;
    }

    ::-webkit-scrollbar-thumb {
        @apply bg-base-content/20 hover:bg-base-content/30 transition-all duration-300 rounded-full;
    }

    ::-webkit-scrollbar-track {
        @apply bg-base-200;
    }
}

@keyframes blobAnimation {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(100px, -100px) rotate(45deg);
  }
  50% {
    transform: translate(0, 200px) rotate(90deg);
  }
  75% {
    transform: translate(-100px, -100px) rotate(135deg);
  }
  100% {
    transform: translate(0, 0) rotate(180deg);
  }
}

.blob-animate {
  animation: blobAnimation 20s infinite linear;
}