---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Contact | Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                you can find my <strong class="text-xl font-bold">contacts</strong> here
            </h1>
        </div>
    </main>
</Layout>
