---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Hojayfa Rahman">
    <main>
        <div class="hero py-36">
            <div class="hero-content text-center">
                <div class="max-w-xl">
                    <h1 class="text-5xl font-bold">
                        <span class="text-3xl font-normal">I'm</span> Hojayfa Rahman
                    </h1>
                    <p class="py-6">
                        I'm a software developer. I create full-stack web apps,
                        advocate for the impact of Artificial Intelligence, and
                        automate processes.
                    </p>
                    <a href="mailto:hojayfarahman@gmail.com" class="btn btn-primary">Let's talk project</a>
                </div>
            </div>
        </div>
    </main>
</Layout>
