---
import Layout from "@/layouts/Layout.astro";
import NextjsLogo from "@/components/assets/NextjsLogo.astro";
import TypescriptLogo from "@/components/assets/TypescriptLogo.astro";
import ReactLogo from "@/components/assets/ReactLogo.astro";
import TailwindcssLogo from "@/components/assets/TailwindcssLogo.astro";
---

<Layout title="Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                hey, i'm <strong class="text-xl font-bold">hojayfa</strong>
            </h1>
            <p class="py-6">
                a software developer who creates full-stack web apps, advocates
                for the impact of artificial intelligence, and automates
                processes.
            </p>
            <a
                href="mailto:hojayfarahman@gmail.com"
                class="btn btn-primary btn-sm rounded-md"
                >let's talk project</a
            >
        </div>

        <section class="py-8">
            <p>
                i make performant and scalable application that users love to
                use using modern technologies like next.js, react, typescript,
                trpc, tailwindcss, and more.
            </p>
            <div class="grid grid-cols-4 gap-4 pt-6 text-base-content/80">
                <NextjsLogo className="size-12 mx-auto" />
                <TypescriptLogo className="size-12 mx-auto" />
                <ReactLogo className="size-12 mx-auto" />
                <TailwindcssLogo className="size-12 mx-auto" />
            </div>
        </section>

        <div>
            <p>
                over the past couple of years, i've worked on various projects
                both commercial and hobby. you can find my open-source works on
                <a href="https://github.com/hrmasss">github ↗</a>
                or visit the
                <a href="/work">work ↗</a>
                section to see some of the highlights.
            </p>
        </div>
    </main>
</Layout>
