---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                hey, i'm <span class="text-xl font-bold">hojayfa</span>
            </h1>
            <p class="py-6">
                a software developer who creates full-stack web apps, advocates
                for the impact of artificial intelligence, and automates
                processes.
            </p>
            <a
                href="mailto:hojayfarahman@gmail.com"
                class="btn btn-primary btn-sm rounded-md"
                >let's talk project</a
            >
        </div>
    </main>
</Layout>
