---
return Astro.redirect("/under-construction");

import { Image } from "astro:assets";
import BlobCard from "@/components/BlobCard.astro";
import Layout from "@/layouts/Layout.astro";
import OpenIcon from "@/components/assets/OpenIcon.astro";
import NextjsLogo from "@/components/assets/NextjsLogo.astro";
import TypescriptLogo from "@/components/assets/TypescriptLogo.astro";
import ReactLogo from "@/components/assets/ReactLogo.astro";
import TailwindcssLogo from "@/components/assets/TailwindcssLogo.astro";
import ZenithTechLogo from "@/components/assets/images/zenith.webp";
---

<Layout title="Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                hey, i'm <strong class="text-xl font-bold">hojayfa</strong>
            </h1>
            <p class="py-6">
                a software developer who creates full-stack web apps, advocates
                for the impact of artificial intelligence, and automates
                processes.
            </p>
            <a
                href="mailto:hojayfarahman@gmail.com"
                class="btn rounded-full btn-sm bg-secondary/70 text-secondary-content hover:bg-secondary/50 font-bold"
                >let's talk project</a
            >
        </div>

        <section class="py-8">
            <p>
                i make <strong class="font-semibold"
                    >performant and scalable applications</strong
                > that users ❤️ to use, utilizing modern technologies like <strong
                    class="font-semibold"
                    >next.js, react, typeScript, trpc, tailwind css</strong
                >, and more.
            </p>
            <div class="grid grid-cols-2 sm:grid-cols-4 gap-4 pt-6 w-full">
                <div
                    class="p-4 border rounded-md bg-base-300/40 text-neutral-500">
                    <NextjsLogo className="size-12 m-auto" />
                </div>
                <div
                    class="p-4 border rounded-md bg-base-300/40 text-neutral-500">
                    <TypescriptLogo className="size-12 m-auto" />
                </div>
                <div
                    class="p-4 border rounded-md bg-base-300/40 text-neutral-500">
                    <ReactLogo className="size-12 m-auto" />
                </div>
                <div
                    class="p-4 border rounded-md bg-base-300/40 text-neutral-500">
                    <TailwindcssLogo className="size-12 m-auto" />
                </div>
            </div>
        </section>

        <div>
            <p>
                over the past couple of years, i've worked on various projects
                both commercial and hobby. you can find my open-source works on <a
                    class="text-secondary inline-flex font-bold"
                    href="https://github.com/hrmasss"
                    target="_blank"
                    >github <OpenIcon className="size-4" /></a
                > or visit the <a
                    class="text-secondary inline-flex font-bold"
                    href="/work"
                    >work <OpenIcon className="size-4" /></a
                > section to see some of the highlights. you can also check out
                <a
                    target="_blank"
                    class="text-secondary inline-flex font-bold"
                    href="https://zenithx.tech"
                    >zenith×tech <OpenIcon className="size-4" /></a
                >, a software agency that i co-founded.
            </p>
        </div>

        <a
            href="https://zenithx.tech"
            target="_blank"
            class="my-8 block">
            <BlobCard>
                <Image
                    class="w-48"
                    src={ZenithTechLogo}
                    alt="Logo of ZENITHxTECH, a software development agency based on Dhaka, Bangladesh."
                />
            </BlobCard>
        </a>
    </main>
</Layout>
