---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import WorkCard from "@/components/WorkCard.astro";

const allWorks = await getCollection("work");

allWorks.sort(
    (a, b) =>
        new Date(b.data.date as Date).getTime() -
        new Date(a.data.date as Date).getTime()
);
---

<Layout title="Hojayfa Rahman">
    <main class="px-2 md:px-24">
        <!-- Hero Section -->
        <div class="hero py-36 bg-dot-gradient">
            <div class="hero-content text-center">
                <div class="max-w-xl">
                    <h1 class="text-5xl font-bold">
                        <span class="text-3xl font-normal">I'm</span> Hojayfa Rahman
                    </h1>
                    <p class="py-6">
                        I'm a software developer. I create full-stack web apps,
                        advocate for the impact of Artificial Intelligence, and
                        automate processes.
                    </p>
                    <a
                        href="mailto:hojayfarahman@gmail.com"
                        class="btn btn-primary"
                        >Let's talk project</a
                    >
                </div>
            </div>
        </div>

        <!-- Work Section  -->
        <div
            id="work"
            class="py-12">
            <div class="grid grid-cols-1 lg:grid-cols-3 w-full gap-4">
                {allWorks.map((work) => <WorkCard work={work} />)}
            </div>
        </div>
    </main>
</Layout>
