---
import MenuIcon from "@/components/MenuIcon.astro";
import ThemeToggle from "@/components/ThemeToggle.astro";

const navLinks = [
    { text: "/ home", href: "/" },
    { text: "/ work", href: "/work" },
    { text: "/ blog", href: "/blog" },
    { text: "/ contact", href: "/contact" },
];
---

<header
    class="sticky top-0 sm:static flex items-center justify-between bg-base-100/90 backdrop-blur transition-shadow duration-100 z-30 px-4 lg:px-0 min-h-16 lg:min-h-24">
    <div class="dropdown sm:hidden">
        <div
            tabindex="0"
            role="button">
            <MenuIcon className="size-6" />
        </div>

        <nav class="menu dropdown-content">
            <ul
                class="z-10 p-2 shadow bg-base-300 rounded-md w-52 mt-2 font-semibold">
                {
                    navLinks.map((link) => (
                        <li>
                            <a
                                class="rounded-md"
                                href={link.href}>
                                {link.text}
                            </a>
                        </li>
                    ))
                }
            </ul>
        </nav>
    </div>

    <nav class="hidden sm:flex">
        <ul class="flex items-center gap-6 font-semibold">
            {
                navLinks.map((link) => (
                    <li>
                        <a href={link.href}>{link.text}</a>
                    </li>
                ))
            }
        </ul>
    </nav>

    <ThemeToggle />
</header>
