---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Works | Hojayfa Rahman">
    <main class="p-4 lg:p-0">
        <div class="max-w-xl my-4">
            <h1>
                here you can find my <span class="text-xl font-bold">works</span>
            </h1>
        </div>
    </main>
</Layout>
