---
import "@fontsource-variable/epilogue";
import "@/styles/globals.css";

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <script is:inline>
            if (localStorage.getItem("theme") === null) {
                if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
                    document.documentElement.setAttribute(
                        "data-theme",
                        "black"
                    );
                } else {
                    document.documentElement.setAttribute("data-theme", "lofi");
                }
            } else
                document.documentElement.setAttribute(
                    "data-theme",
                    localStorage.getItem("theme")
                );
        </script>
        <script>
            import { themeChange } from "theme-change";
            themeChange();
        </script>
        <meta charset="UTF-8" />
        <meta
            name="description"
            content="Hojayfa Rahman"
        />
        <meta
            name="viewport"
            content="width=device-width"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="/favicon.svg"
        />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
